#!/bin/bash

unset OB_NFVO_IP
unset OB_NFVO_PORT
unset OB_NFVO_PORT
unset OB_USERNAME
unset OB_PASSWORD

export OB_NFVO_IP=localhost
export OB_NFVO_PORT=8080
export OB_PROJECT_ID=0022d4e3-2a42-4083-b817-cdac15c0d115
export OB_USERNAME=admin
echo -n Insert Open Baton Password: 
read -s password
export OB_PASSWORD=$password
